<div class = "recipe"> 
   <% @favorite_recipes.each do |recipe|%>
   
      <ul class='recipe-lists'>
        <li class='list'>
          <%= link_to recipe_path (recipe.id) do %>
            <div class='recipe-img-content'>
            </div>
            <div class='recipe-info'>
              <%= recipe.name %>
              </div>
            <div class='recipe-outline'>
            </div>
       　　 </li>
        <% end %>
      </ul>
    <% end %>
  </div>