<div class="home-visual">
  <div class="home-visual-content">
    <p class="home-visual-text">
       <h2>おかえりなさい！</h2><br/>
    </p>
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to user_path(user) do %>
                    <%= image_tag @user.get_profile_image(100,100) %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to user.name, user_path(user) %></div>
                </div>
              </div>
              <div class="content">
                投稿数：<%= user.recipes.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>