<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  
  
  <body>
    
<div class="container">
    <div class="row">
        <div class="mx-auto">
 <div class="card bg-dark text-black" style="width: 1100px; height: 500; ">
  <img src="/assets/retro_recipe2.jpg" class="card-img" alt="icon image">
  <div class="card-img-overlay d-flex">
    <div class="m-auto">
      <h2 class="card-title">ようこそ<span>レトロレシピへ！</span></h2>
      <p class="text-cemter">
        
      <h5>このサイトは、レトロ専門のレシピ集となっております！<br>
          レトロが好きな方、料理が好きな方、サイトを一目見て興味を持ってくれた方など<br>
          沢山のお客様のご来店お待ちしております。
        </h5>
      </p>
      
    </div>
  </div>
</div>
    
    
  <div class="container">
    <div class="row">
       <div class="col">
    <div class="text-center">
       <h1>今日もステキなレシピを作りましょう！</h1>
   </div>
 
<div class="container text-center">
  <div class="row">
    <div class="col">
      自宅でコーヒータイムを<br>
      楽しみませんか？
<div class="card" style="width: 18rem;">
  <img src="/assets/bigcoffee.jpg" class="card-img-top" alt="">
  <div class="card-body">
    <p class="card-text">
      休憩も大切です！<br>
      お気に入りのカップで<br>
      特別なコーヒーを<br>
      入れてみませんか？
    </p>
  </div>
</div>
    </div>
    <div class="container col">
      自分だけのクリームソーダを<br>
      作ってみよう！
      <div class="card" style="width: 18rem;">
  <img src="/assets/melonsoda2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      カラフルで爽やかな<br>
      クリームソーダは<br>
      いかがですか？
    </p>
  </div>
</div>
    </div>
    <div class=text-center"col">
      本格的なレトロプリンで<br>
      優雅なティータイムを！
      <div class="card" style="width: 18rem;">
  <img src="/assets/alamode3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      "自分"の好きを詰め込んだ<br>
      アレンジ"レトロレシピ"を<br>
      作っちゃおう！
      </p>
       </div>
      </div>
    </div>
   </div>
  </div>
 </body>


     <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-primary btn-sm btn-block mb-3 sign_in' %>
        </div>
        <div class="row">
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn btn-outline-success btn-sm btn-block sign_up' %>
        </div>
      </div>
    </div>
  </div>
   <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %>
   
        
     <div class="m-5">
       
     </div>
       
     </div>　
    </div>
  </div>
</div>
</html>