<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive;">レトロレシピ</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>


    
          
    
        <p class="top_text">
          <span>ようこそレトロレシピへ！</span><br>
          このサイトは、レトロ専門のレシピ集となっております！<br>
          レトロが好きな方、料理が好きな方、サイトを一目見て興味を持ってくれた方など<br>
          沢山のお客様の<ご来店お待ちしております。
        </p>
      </div>

      
      </div>
    </div>
  </div>
</div>


