<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
   <div class="col-9">
        <h3><strong>レシピ一覧</strong><span></span></h3>
        <div class="row">
          <% @recipes.each do |recipe| %>
            <div class="col-3">
              <%= link_to recipe_path(recipe.id) do %>
                <%= image_tag recipe.get_image, size: '200x200' %><br>
                <%= recipe.name %><br>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
     </div>
</table>